---
title: Off the ground
date: 2026-09-16
tags: [software development, writing]
---
<p>
    Here we go with the first post! I'm not really sure what this blog is or
    what it will become. As of now, I am using it as a testing ground to
    evaluate how well Claude can handle rebuilding my personal site.
</p>
<h2>Why?</h2>
<p>
    Ok, elephant in the room. Yes, I am initially building this site using Claude.
    I do plan to dig into the topic of AI coding in much more detail later, but
    for now it's what I used. The main driver for using Claude is that I am on
    parental leave with two small kids. My focus is 100% on my kids, but I do
    find myself with random pockets of time (mostly around naps) where I have
    some time to kill. I am totally at the mercy of these tiny humans though
    when it comes to length and duration of the free time I get. Needless to
    say, it's really difficult to focus and do anything sustained. I have found
    I can pitch an idea to Claude, let it run, and then return to it later when
    I get some more free time (there are more details here, but I'll write about
    this later). I cheekily have coined this "distraction-driven-development".
</p>
<h2>What next?</h2>
<p>
    I honestly don't know where I'll take this blog from here, but here are some
    topics I have been considering writing more about:
</p>
<ul>
    <li>
        My experience with Claude building this site, both in general and as a
        full-time parent (as it pertains to my time on parental leave)
    </li>
    <li>
        Deep diving on how Claude performed building this site and looking at
        the code
    </li>
    <li>
        Using this site as a guinea pig for cool stuff I want to work on
        like performance work
    </li>
    <li>
        Random non-dev related stuff like running and soccer. Why not? I like
        these things!
    </li>
</ul>
<p><strong>This post is all me! No AI involved in the writing.</strong></p>
