---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	<title>{{ metadata.title }}</title>
	<subtitle>{{ metadata.description }}</subtitle>
	<link rel="self" href="{{ metadata.url }}/feed.xml"/>
	<link href="{{ metadata.url }}"/>
	<updated>{{ buildTime | dateToRfc3339 }}</updated>
	<id>{{ metadata.url }}/</id>
	<author>
		<name>{{ metadata.author.name }}</name>
		<email>{{ metadata.author.email }}</email>
	</author>
	{%- for post in collections.posts | reverse %}
	<entry>
		<title>{{ post.data.title }}</title>
		<link href="{{ post.url | absoluteUrl(metadata.url) }}"/>
		<updated>{{ post.date | dateToRfc3339 }}</updated>
		<id>{{ post.url | absoluteUrl(metadata.url) }}</id>
		<content type="html">{{ post.content | htmlToAbsoluteUrls(metadata.url) | safe }}</content>
	</entry>
	{%- endfor %}
</feed>
